body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#bg{
  background-image: url('img/clouds.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
}

#hours_container{
  background: gray;
}

#daily_forecast{
  overflow: auto; 
  white-space: nowrap; 
  background: black;
}

.daily{
  display: inline-block; 
  box-shadow: 0 0 2px white; 
  width: 10vw;
  color: white;
}
