body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#bg{
  background-image: url('img/clouds.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
}

#hours_container{
  background: black;
}

.hr_block{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border-right: 1px solid rgb(92, 89, 89);
}

.hr_block:last-child{
  border-right: none;
}

#daily_forecast{
  overflow: auto; 
  white-space: nowrap; 
  background: black;
}

.daily{
  display: inline-block; 
  box-shadow: 0 0 2px white; 
  width: 10vw;
  color: white;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 15px;
}

#today{
  position: absolute;
  top: -15px;
  left: 6em;
  padding: 3px 5px;
  background: orange;
  border-radius: 20px;
}
